In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [28]:
# Загружаем преобработанные файлы для train

df_orders_train = pd.read_parquet('data\\train\\df_orders_flat.parquet')
df_visits_train = pd.read_parquet('data\\train\\df_visits_flat.parquet')
df_last_visits_cat_train = pd.read_parquet('data\\train\\df_last_visits_cat_flat.parquet')

In [29]:
# Загружаем преобработанные файлы для val

df_orders_val = pd.read_parquet('data\\val\\df_orders_flat.parquet')
df_visits_val = pd.read_parquet('data\\val\\df_visits_flat.parquet')
df_last_visits_cat_val = pd.read_parquet('data\\val\\df_last_visits_cat_flat.parquet')

In [30]:
df_visits_train

,user_id,target,length,site-id,first-seen,last-seen,visited-at,session-duration,pages-count,visited-items,visited-general-categories,visited-universal-brands
0,user_1,female,3,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
1,user_2,female,11,3.0,1.696278e+09,1.696278e+09,1.696278e+09,0.0,1.0,None,None,None
2,user_2,female,11,3.0,1.696278e+09,1.696278e+09,1.696278e+09,112.0,2.0,None,None,None
3,user_5,female,35,3.0,1.693797e+09,1.698664e+09,1.693797e+09,0.0,1.0,None,None,None
4,user_5,female,35,3.0,1.693797e+09,1.698664e+09,1.694267e+09,0.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
2111233,user_127750,male,11,578.0,1.692981e+09,1.692981e+09,1.692981e+09,0.0,1.0,None,None,None
2111234,user_127750,male,11,371.0,1.691270e+09,1.691270e+09,1.691270e+09,32.0,4.0,[item_5409132],None,None
2111235,user_127751,male,11,3.0,1.697627e+09,1.697627e+09,1.697627e+09,0.0,1.0,None,None,None
2111236,user_127751,male,11,223.0,1.697627e+09,1.697627e+09,1.697627e+09,5.0,2.0,None,None,None
2111237,user_127752,male,13,3.0,1.697686e+09,1.697686e+09,1.697686e+09,0.0,1.0,None,None,None

In [31]:
df_visits_val

,user_id,target,length,site-id,first-seen,last-seen,visited-at,session-duration,pages-count,visited-items,visited-general-categories,visited-universal-brands
0,user_127756,female,8,3.0,1.697126e+09,1.697133e+09,1.697126e+09,0.0,1.0,None,None,None
1,user_127756,female,8,3.0,1.697126e+09,1.697133e+09,1.697133e+09,0.0,1.0,None,None,None
2,user_127756,female,8,407.0,1.697125e+09,1.699115e+09,1.698855e+09,626.0,3.0,None,None,None
3,user_127756,female,8,407.0,1.697125e+09,1.699115e+09,1.698931e+09,0.0,1.0,None,None,None
4,user_127756,female,8,407.0,1.697125e+09,1.699115e+09,1.698947e+09,0.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
561073,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.697236e+09,581.0,3.0,None,None,None
561074,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.697718e+09,0.0,1.0,None,None,None
561075,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696679e+09,0.0,1.0,None,None,None
561076,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696680e+09,0.0,1.0,None,None,None
561077,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696864e+09,0.0,1.0,None,None,None

In [32]:
df_visits_common = pd.concat([df_visits_train, df_visits_val])
df_visits_common

,user_id,target,length,site-id,first-seen,last-seen,visited-at,session-duration,pages-count,visited-items,visited-general-categories,visited-universal-brands
0,user_1,female,3,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
1,user_2,female,11,3.0,1.696278e+09,1.696278e+09,1.696278e+09,0.0,1.0,None,None,None
2,user_2,female,11,3.0,1.696278e+09,1.696278e+09,1.696278e+09,112.0,2.0,None,None,None
3,user_5,female,35,3.0,1.693797e+09,1.698664e+09,1.693797e+09,0.0,1.0,None,None,None
4,user_5,female,35,3.0,1.693797e+09,1.698664e+09,1.694267e+09,0.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
561073,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.697236e+09,581.0,3.0,None,None,None
561074,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.697718e+09,0.0,1.0,None,None,None
561075,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696679e+09,0.0,1.0,None,None,None
561076,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696680e+09,0.0,1.0,None,None,None
561077,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696864e+09,0.0,1.0,None,None,None

In [33]:
df_visits_common = df_visits_common[df_visits_common['site-id'] != 3]
df_visits_common

,user_id,target,length,site-id,first-seen,last-seen,visited-at,session-duration,pages-count,visited-items,visited-general-categories,visited-universal-brands
0,user_1,female,3,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
6,user_5,female,35,23.0,1.690603e+09,1.690603e+09,1.690603e+09,115.0,2.0,"[item_18, item_19]",None,None
7,user_5,female,35,13.0,1.693797e+09,1.698664e+09,1.693797e+09,0.0,1.0,None,None,None
8,user_5,female,35,13.0,1.693797e+09,1.698664e+09,1.693798e+09,582.0,6.0,None,None,None
9,user_5,female,35,13.0,1.693797e+09,1.698664e+09,1.693811e+09,0.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
561070,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.691665e+09,211.0,3.0,"[item_4410808, item_4410807, item_4410806]","[91203, 15625443, 7811879, 91197, 7877999, 156...","[3432476, 3430741, 3436059]"
561071,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.691736e+09,0.0,1.0,[item_172267],"[91197, 91210, 90801]",[3429210]
561072,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.691751e+09,0.0,1.0,[item_751541],"[7811879, 7877999, 15625452, 15625409]",[3439589]
561073,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.697236e+09,581.0,3.0,None,None,None
561074,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.697718e+09,0.0,1.0,None,None,None

In [34]:
male_site_id_stat = df_visits_common[df_visits_common['target'] == 'male']['site-id'].value_counts(normalize=True) * 100
male_site_id_stat = dict(male_site_id_stat)
male_site_id_stat[3.0] = 0
male_site_id_stat[0.0] = 0
male_site_id_stat

{20.0: 10.50393263973447,
 16.0: 6.195376738894347,
 41.0: 4.191023332565454,
 29.0: 4.136582246940628,
 23.0: 3.8003450756204544,
 2.0: 3.442858015956222,
 13.0: 3.292980484892364,
 7.0: 2.190995124749068,
 153.0: 1.9162509931502019,
 206.0: 1.8678275750210385,
 33.0: 1.7708867127080914,
 37.0: 1.768536061342598,
 21.0: 1.4734823019458694,
 371.0: 1.472542041399672,
 578.0: 1.358864541364412,
 19.0: 1.3540692125788056,
 30.0: 1.2198000065818237,
 62.0: 1.1505968303816987,
 34.0: 1.1341422708232451,
 49.0: 1.106498610765043,
 307.0: 1.0825219668370105,
 98.0: 1.0569468799804427,
 147.0: 1.0398341380396507,
 39.0: 0.8883581640472575,
 65.0: 0.883562835261651,
 8.0: 0.7230603600257631,
 10.0: 0.6941003352028847,
 42.0: 0.6935361788751663,
 46.0: 0.6779278538082902,
 208.0: 0.6754831763881771,
 348.0: 0.6715340820941482,
 216.0: 0.6380608066495226,
 40.0: 0.6352400250109305,
 100.0: 0.5994160982008114,
 31.0: 0.573652959235004,
 26.0: 0.5255116192696996,
 22.0: 0.5143225187699512,
 234.0: 0.5123479716229367,
 347.0: 0.4894996403503411,
 207.0: 0.48216560809000175,
 553.0: 0.48188352992614253,
 380.0: 0.47906274828755047,
 35.0: 0.4648648140399705,
 357.0: 0.4570606515065324,
 209.0: 0.4569666254519127,
 217.0: 0.45583831279647585,
 214.0: 0.4546159740864193,
 24.0: 0.4498206453008129,
 266.0: 0.4482222023722774,
 558.0: 0.43740920609100775,
 391.0: 0.4357167371078526,
 118.0: 0.43562271105323286,
 716.0: 0.43148556464996446,
 112.0: 0.4257499753181607,
 199.0: 0.4052522954110584,
 495.0: 0.39820034131457827,
 478.0: 0.3852247457770548,
 244.0: 0.38071149515530756,
 776.0: 0.3702746030925169,
 407.0: 0.35805121599195133,
 51.0: 0.3496828971307949,
 316.0: 0.32401378421960725,
 497.0: 0.3180901427785639,
 359.0: 0.31649169985002845,
 254.0: 0.31179039711904166,
 320.0: 0.3024818177116879,
 205.0: 0.290728560884221,
 394.0: 0.2899763524472631,
 155.0: 0.28818985740948816,
 276.0: 0.2837706328423606,
 247.0: 0.27201737601489373,
 97.0: 0.2644012655906952,
 288.0: 0.2596999628597084,
 103.0: 0.2543404777463835,
 477.0: 0.2543404777463835,
 79.0: 0.2528360608724678,
 223.0: 0.2524599566539888,
 606.0: 0.25067346161621384,
 631.0: 0.2488869665784389,
 198.0: 0.24869891446919942,
 151.0: 0.24634826310370603,
 167.0: 0.24606618493984686,
 356.0: 0.24559605466674816,
 241.0: 0.2438095596289732,
 175.0: 0.2408947519357614,
 555.0: 0.23892020478874695,
 11.0: 0.2358173449862957,
 166.0: 0.23205630280150627,
 483.0: 0.22914149510829449,
 311.0: 0.222935775503392,
 180.0: 0.21983291570094074,
 110.0: 0.21287498765908036,
 83.0: 0.21127654473054483,
 90.0: 0.20469472090716337,
 260.0: 0.20300225192400814,
 135.0: 0.19942926184845822,
 58.0: 0.1976427668106832,
 291.0: 0.19501003728133068,
 12.0: 0.18645366631093477,
 173.0: 0.17789729534053886,
 755.0: 0.17705106084896124,
 124.0: 0.17629885241200335,
 120.0: 0.17404222710112974,
 301.0: 0.17065728913481926,
 319.0: 0.1683066377693259,
 160.0: 0.1659559864038325,
 246.0: 0.16275910054676151,
 830.0: 0.16257104843752204,
 158.0: 0.1603144231266484,
 63.0: 0.15881000625273262,
 74.0: 0.14658661915216706,
 585.0: 0.14470609805977236,
 264.0: 0.1443299938412934,
 831.0: 0.14216739458503952,
 334.0: 0.14197934247580005,
 91.0: 0.13906453478258826,
 78.0: 0.1381242742363909,
 484.0: 0.13803024818177118,
 365.0: 0.13182452857686866,
 406.0: 0.13135439830376996,
 713.0: 0.1298499814298542,
 140.0: 0.12937985115675554,
 71.0: 0.12684114768202268,
 106.0: 0.1255247829173464,
 373.0: 0.12336218366109249,
 109.0: 0.12279802733337408,
 86.0: 0.12270400127875433,
 111.0: 0.1188489330393452,
 48.0: 0.11678035983771103,
 262.0: 0.11207905710672428,
 32.0: 0.10878814519503355,
 849.0: 0.1068135980480191,
 163.0: 0.10577931144720203,
 149.0: 0.1054972332833428,
 361.0: 0.1054972332833428,
 139.0: 0.10389879035480731,
 272.0: 0.10314658191784944,
 501.0: 0.10248839953551128,
 93.0: 0.10220632137165207,
 220.0: 0.0995735918422995,
 161.0: 0.09947956578767976,
 148.0: 0.09741099258604559,
 278.0: 0.09562449754827063,
 616.0: 0.09553047149365089,
 273.0: 0.0897008561072273,
 537.0: 0.08706812657787473,
 132.0: 0.08659799630477606,
 393.0: 0.08546968364933923,
 303.0: 0.0853756575947195,
 581.0: 0.08518760548548003,
 714.0: 0.08499955337624056,
 171.0: 0.08217877173764851,
 80.0: 0.08170864146454983,
 615.0: 0.08011019853601434,
 53.0: 0.07879383377133803,
 325.0: 0.0765372084604644,
 218.0: 0.07484473947730917,
 552.0: 0.07418655709497102,
 248.0: 0.07277616627567499,
 425.0: 0.07268214022105525,
 134.0: 0.07268214022105525,
 6.0: 0.07164785362023816,
 665.0: 0.0679808374900685,
 312.0: 0.06440784741451856,
 102.0: 0.06374966503218042,
 104.0: 0.06346758686832121,
 119.0: 0.06205719604902519,
 121.0: 0.060458753120489685,
 263.0: 0.05933044046505287,
 297.0: 0.059236414410433126,
 256.0: 0.05876628413733446,
 323.0: 0.05820212780961604,
 28.0: 0.0575439454272779,
 599.0: 0.05622758066260161,
 15.0: 0.05613355460798187,
 66.0: 0.055663424334883194,
 317.0: 0.055569398280263464,
 358.0: 0.05415900746096743,
 351.0: 0.05199640820471353,
 404.0: 0.05152627793161484,
 84.0: 0.051056147658516175,
 444.0: 0.05039796527617803,
 168.0: 0.0503039392215583,
 752.0: 0.050209913166938555,
 369.0: 0.04908160051150174,
 283.0: 0.04795328785606492,
 225.0: 0.04767120969220571,
 25.0: 0.04757718363758597,
 89.0: 0.04560263649057154,
 101.0: 0.04494445410823339,
 164.0: 0.04485042805361365,
 146.0: 0.044098219616655776,
 327.0: 0.0436280893435571,
 863.0: 0.043251985125078156,
 324.0: 0.04306393301583869,
 162.0: 0.042311724578880806,
 165.0: 0.0420296464150216,
 127.0: 0.0420296464150216,
 1057.0: 0.04061925559572557,
 76.0: 0.04043120348648611,
 138.0: 0.04005509926800717,
 726.0: 0.04005509926800717,
 891.0: 0.04005509926800717,
 226.0: 0.03967899504952822,
 68.0: 0.039396916885669014,
 308.0: 0.039396916885669014,
 144.0: 0.03723431762941511,
 445.0: 0.03685821341093617,
 431.0: 0.03685821341093617,
 268.0: 0.03676418735631643,
 678.0: 0.03554184864625988,
 617.0: 0.035071718373161205,
 123.0: 0.03497769231854147,
 85.0: 0.034789640209301996,
 623.0: 0.03413145782696385,
 760.0: 0.033943405717724376,
 725.0: 0.033849379663104646,
 415.0: 0.033285223335386235,
 721.0: 0.03309717122614676,
 136.0: 0.03309717122614676,
 328.0: 0.033003145171527026,
 710.0: 0.03187483251609021,
 376.0: 0.031780806461470475,
 618.0: 0.03140470224299153,
 69.0: 0.03084054591527312,
 252.0: 0.030276389587554707,
 507.0: 0.03008833747831524,
 137.0: 0.029806259314456036,
 474.0: 0.029336129041357364,
 409.0: 0.029242102986737628,
 744.0: 0.029242102986737628,
 253.0: 0.029242102986737628,
 675.0: 0.029148076932117892,
 778.0: 0.028301842440540275,
 94.0: 0.02773768611282186,
 222.0: 0.027361581894342926,
 156.0: 0.02726755583972319,
 315.0: 0.02698547767586398,
 184.0: 0.02679742556662451,
 632.0: 0.026139243184286367,
 45.0: 0.025857165020427158,
 221.0: 0.025857165020427158,
 270.0: 0.02501093052884954,
 535.0: 0.024822878419610075,
 392.0: 0.02472885236499034,
 485.0: 0.024352748146511397,
 129.0: 0.023694565764173253,
 871.0: 0.023694565764173253,
 633.0: 0.023600539709553517,
 99.0: 0.023600539709553517,
 681.0: 0.023600539709553517,
 447.0: 0.023130409436454842,
 614.0: 0.02294235732721537,
 827.0: 0.021625992562539078,
 355.0: 0.021061836234820667,
 95.0: 0.020027549634003584,
 451.0: 0.019933523579383848,
 293.0: 0.019745471470144375,
 536.0: 0.018805210923947026,
 498.0: 0.018617158814707557,
 64.0: 0.018429106705468084,
 275.0: 0.018241054596228615,
 399.0: 0.018147028541608882,
 314.0: 0.018147028541608882,
 141.0: 0.01777092432312994,
 191.0: 0.017582872213890467,
 130.0: 0.017300794050031265,
 410.0: 0.01683066377693259,
 290.0: 0.01645455955845365,
 258.0: 0.01645455955845365,
 285.0: 0.016078455339974707,
 739.0: 0.015890403230735237,
 107.0: 0.01523222084839709,
 281.0: 0.01504416873915762,
 374.0: 0.014762090575298415,
 1015.0: 0.01372780397448133,
 727.0: 0.013633777919861595,
 826.0: 0.013633777919861595,
 763.0: 0.013539751865241858,
 257.0: 0.013539751865241858,
 116.0: 0.01288156948290371,
 313.0: 0.01288156948290371,
 372.0: 0.01250546526442477,
 644.0: 0.012411439209805038,
 108.0: 0.012317413155185303,
 61.0: 0.01212936104594583,
 699.0: 0.012035334991326098,
 236.0: 0.011847282882086627,
 360.0: 0.011471178663607685,
 299.0: 0.011471178663607685,
 326.0: 0.011377152608987952,
 245.0: 0.011377152608987952,
 1045.0: 0.011377152608987952,
 128.0: 0.011377152608987952,
 835.0: 0.01118910049974848,
 515.0: 0.010718970226649806,
 292.0: 0.010436892062790599,
 14.0: 0.010060787844311659,
 178.0: 0.009684683625832718,
 1251.0: 0.009590657571212984,
 197.0: 0.009308579407353778,
 304.0: 0.009214553352734042,
 496.0: 0.009214553352734042,
 1238.0: 0.009214553352734042,
 1191.0: 0.009026501243494573,
 448.0: 0.008932475188874836,
 882.0: 0.008932475188874836,
 762.0: 0.008838449134255102,
 396.0: 0.008556370970395896,
 757.0: 0.008368318861156427,
 557.0: 0.00827429280653669,
 298.0: 0.008180266751916956,
 573.0: 0.008086240697297221,
 43.0: 0.007804162533438015,
 779.0: 0.007804162533438015,
 708.0: 0.007804162533438015,
 687.0: 0.00771013647881828,
 176.0: 0.00752208436957881,
 259.0: 0.00752208436957881,
 310.0: 0.007428058314959075,
 912.0: 0.007428058314959075,
 482.0: 0.007334032260339341,
 476.0: 0.007334032260339341,
 545.0: 0.007240006205719605,
 1266.0: 0.006957928041860399,
 251.0: 0.006769875932620929,
 375.0: 0.006675849878001194,
 174.0: 0.0064877977687617236,
 998.0: 0.006393771714141989,
 240.0: 0.0062997456595222535,
 321.0: 0.006111693550282783,
 287.0: 0.006017667495663049,
 56.0: 0.005923641441043313,
 718.0: 0.005735589331803842,
 81.0: 0.005641563277184108,
 564.0: 0.005641563277184108,
 309.0: 0.005453511167944638,
 277.0: 0.005453511167944638,
 1347.0: 0.005453511167944638,
 1231.0: 0.005453511167944638,
 57.0: 0.005453511167944638,
 395.0: 0.005265459058705167,
 300.0: 0.005265459058705167,
 627.0: 0.005171433004085432,
 978.0: 0.005171433004085432,
 651.0: 0.005077406949465697,
 243.0: 0.005077406949465697,
 857.0: 0.004983380894845962,
 548.0: 0.0048893548402262265,
 305.0: 0.0048893548402262265,
 332.0: 0.004795328785606492,
 377.0: 0.0047013027309867565,
 330.0: 0.004513250621747286,
 1155.0: 0.004231172457888081,
 1050.0: 0.004137146403268345,
 669.0: 0.004137146403268345,
 242.0: 0.003949094294028875,
 239.0: 0.003949094294028875,
 709.0: 0.00385506823940914,
 465.0: 0.0036670161301696706,
 560.0: 0.0034789640209301996,
 413.0: 0.0034789640209301996,
 117.0: 0.0033849379663104646,
 333.0: 0.0031968858570709945,
 421.0: 0.0031028598024512594,
 1001.0: 0.0030088337478315244,
 1175.0: 0.0030088337478315244,
 1002.0: 0.002820781638592054,
 1265.0: 0.0026327295293525834,
 1466.0: 0.0026327295293525834,
 494.0: 0.0026327295293525834,
 575.0: 0.0026327295293525834,
 706.0: 0.0025387034747328483,
 1273.0: 0.0025387034747328483,
 838.0: 0.0024446774201131133,
 1283.0: 0.0023506513654933782,
 1334.0: 0.002256625310873643,
 417.0: 0.002256625310873643,
 568.0: 0.002162599256253908,
 113.0: 0.002162599256253908,
 936.0: 0.002162599256253908,
 707.0: 0.002162599256253908,
 1048.0: 0.0020685732016341727,
 1407.0: 0.0018805210923947026,
 418.0: 0.0018805210923947026,
 1424.0: 0.0018805210923947026,
 87.0: 0.0017864950377749673,
 105.0: 0.0016924689831552323,
 756.0: 0.0016924689831552323,
 851.0: 0.0016924689831552323,
 200.0: 0.0016924689831552323,
 322.0: 0.0015984429285354972,
 1166.0: 0.0015044168739157622,
 1276.0: 0.001410390819296027,
 345.0: 0.001410390819296027,
 362.0: 0.0013163647646762917,
 931.0: 0.0013163647646762917,
 1374.0: 0.0012223387100565566,
 820.0: 0.0012223387100565566,
 673.0: 0.0011283126554368216,
 972.0: 0.0010342866008170863,
 227.0: 0.0010342866008170863,
 853.0: 0.0010342866008170863,
 859.0: 0.0009402605461973513,
 195.0: 0.0008462344915776161,
 446.0: 0.0007522084369578811,
 582.0: 0.0007522084369578811,
 512.0: 0.0007522084369578811,
 249.0: 0.0007522084369578811,
 1051.0: 0.0006581823823381458,
 1441.0: 0.0006581823823381458,
 833.0: 0.0006581823823381458,
 759.0: 0.0006581823823381458,
 508.0: 0.0006581823823381458,
 572.0: 0.0006581823823381458,
 1380.0: 0.0006581823823381458,
 274.0: 0.0005641563277184108,
 170.0: 0.0005641563277184108,
 873.0: 0.0005641563277184108,
 235.0: 0.0005641563277184108,
 378.0: 0.00047013027309867565,
 505.0: 0.00047013027309867565,
 864.0: 0.00047013027309867565,
 1172.0: 0.00047013027309867565,
 203.0: 0.00047013027309867565,
 230.0: 0.00047013027309867565,
 570.0: 0.00037610421847894055,
 1625.0: 0.00037610421847894055,
 994.0: 0.00037610421847894055,
 408.0: 0.0002820781638592054,
 874.0: 0.0002820781638592054,
 1181.0: 0.0002820781638592054,
 1408.0: 0.0002820781638592054,
 735.0: 0.00018805210923947027,
 1056.0: 0.00018805210923947027,
 818.0: 0.00018805210923947027,
 563.0: 0.00018805210923947027,
 715.0: 0.00018805210923947027,
 569.0: 0.00018805210923947027,
 335.0: 0.00018805210923947027,
 1387.0: 0.00018805210923947027,
 255.0: 0.00018805210923947027,
 703.0: 9.402605461973514e-05,
 1445.0: 9.402605461973514e-05,
 231.0: 9.402605461973514e-05,
 547.0: 9.402605461973514e-05,
 1386.0: 9.402605461973514e-05,
 1423.0: 9.402605461973514e-05,
 1596.0: 9.402605461973514e-05,
 411.0: 9.402605461973514e-05,
 27.0: 9.402605461973514e-05,
 1167.0: 9.402605461973514e-05,
 1307.0: 9.402605461973514e-05,
 3.0: 0,
 0.0: 0}

In [35]:
female_site_id_stat = df_visits_common[df_visits_common['target'] == 'female']['site-id'].value_counts(normalize=True) * 100
female_site_id_stat = dict(female_site_id_stat)
female_site_id_stat[3.0] = 0
female_site_id_stat[0.0] = 0
female_site_id_stat

{20.0: 7.216578558542721,
 16.0: 4.225004290300572,
 13.0: 3.6389283038453653,
 29.0: 2.8663393481254524,
 7.0: 2.7612793048457376,
 34.0: 2.7082051475235547,
 41.0: 2.6333655629083634,
 8.0: 2.1685899770207318,
 62.0: 1.9701060227448715,
 371.0: 1.7418201757139689,
 65.0: 1.7248263997890427,
 98.0: 1.703898104314996,
 46.0: 1.6702454051927287,
 2.0: 1.5857788046594756,
 208.0: 1.3795095244672702,
 23.0: 1.333885840333848,
 49.0: 1.333048708514886,
 42.0: 1.318566328046846,
 206.0: 1.2116645947654148,
 199.0: 1.1991076174809867,
 37.0: 1.192159423383603,
 10.0: 1.1323044983278292,
 21.0: 1.121840350590806,
 33.0: 1.110790210580509,
 209.0: 1.080402325552193,
 31.0: 1.062069138716928,
 307.0: 1.0007073763870227,
 175.0: 0.9625341654423614,
 12.0: 0.9389270481476366,
 578.0: 0.8557998585247226,
 407.0: 0.8287605007722542,
 100.0: 0.7966983521060144,
 97.0: 0.7867364834603682,
 118.0: 0.7675661648061413,
 93.0: 0.7061206892943398,
 149.0: 0.6855272465478777,
 58.0: 0.6841041224556424,
 51.0: 0.6759839438117123,
 234.0: 0.6407406942334174,
 86.0: 0.6375595933213624,
 205.0: 0.6299416937688094,
 39.0: 0.6211518096697096,
 146.0: 0.6138687628447413,
 357.0: 0.5998886614680781,
 553.0: 0.5552695355174103,
 348.0: 0.5438008295976327,
 391.0: 0.5272256195821875,
 477.0: 0.49725630046335245,
 135.0: 0.4805973772660112,
 147.0: 0.4641058804324623,
 173.0: 0.45707397315318254,
 104.0: 0.4536417326954389,
 266.0: 0.42710465403434755,
 264.0: 0.42517925085073527,
 19.0: 0.4189007622085211,
 347.0: 0.4034975367396227,
 485.0: 0.4019069862835951,
 319.0: 0.39998158309998283,
 606.0: 0.3977213271887858,
 22.0: 0.3907731330914022,
 483.0: 0.389768574908648,
 207.0: 0.3754536208044,
 40.0: 0.3606363876087748,
 320.0: 0.3515116507820904,
 132.0: 0.3494188212346857,
 6.0: 0.34673999941400774,
 103.0: 0.34305661941057547,
 26.0: 0.3396243789528318,
 180.0: 0.33476901440285295,
 217.0: 0.33435044849337203,
 216.0: 0.33393188258389106,
 618.0: 0.3287416653063274,
 247.0: 0.32823938621495036,
 112.0: 0.31250130801846715,
 90.0: 0.3080645093779692,
 71.0: 0.3080645093779692,
 558.0: 0.30237201300902844,
 399.0: 0.29793521436853054,
 158.0: 0.2848759579927253,
 334.0: 0.2846248184470368,
 291.0: 0.282029709808255,
 380.0: 0.28102515162550074,
 153.0: 0.27349096525484384,
 495.0: 0.25951086387818056,
 246.0: 0.259259724332492,
 776.0: 0.2587574452411149,
 35.0: 0.24787473159461054,
 24.0: 0.24059168476964224,
 30.0: 0.23155066112485403,
 716.0: 0.22309562975333913,
 83.0: 0.22158879247920774,
 214.0: 0.22158879247920774,
 755.0: 0.22024938156886875,
 359.0: 0.21631486201974795,
 80.0: 0.20911552837667582,
 53.0: 0.20811097019392158,
 312.0: 0.20693898564737495,
 11.0: 0.20066049700516092,
 106.0: 0.1973956829112096,
 244.0: 0.19664226427414394,
 136.0: 0.19513542700001255,
 95.0: 0.19371230290777738,
 111.0: 0.19304259745260788,
 498.0: 0.19237289199743837,
 631.0: 0.19195432608795743,
 356.0: 0.18810351972073283,
 779.0: 0.185508411081951,
 220.0: 0.1830807288069616,
 63.0: 0.1804019069862836,
 76.0: 0.18006705425869884,
 123.0: 0.17956477516732172,
 272.0: 0.1704400383406373,
 107.0: 0.1684309219751288,
 45.0: 0.16432897606221564,
 263.0: 0.16349184424325375,
 555.0: 0.16014331696740627,
 254.0: 0.1593898983303406,
 89.0: 0.15838534014758635,
 478.0: 0.15235799105106085,
 324.0: 0.15185571195968373,
 484.0: 0.14691663422780868,
 32.0: 0.1428984014967917,
 223.0: 0.14130785104076415,
 108.0: 0.13854531603818995,
 124.0: 0.13670362603647382,
 155.0: 0.13578278103561575,
 361.0: 0.13511307558044627,
 616.0: 0.13368995148821108,
 325.0: 0.1329365328511454,
 84.0: 0.1277463155735818,
 241.0: 0.1270766101184123,
 99.0: 0.1263231914813466,
 308.0: 0.1249837805710076,
 248.0: 0.1230583773873953,
 311.0: 0.12280723784170675,
 278.0: 0.122472385114122,
 537.0: 0.12230495875032961,
 444.0: 0.121132974203783,
 317.0: 0.11912385783827449,
 497.0: 0.11644503601759651,
 316.0: 0.11435220647019181,
 160.0: 0.11401735374260709,
 678.0: 0.10849228373745871,
 79.0: 0.10589717509867692,
 410.0: 0.10556232237109217,
 166.0: 0.1053948960072998,
 727.0: 0.1052274696435074,
 134.0: 0.10120923691249042,
 78.0: 0.10112552373059425,
 167.0: 0.0986978414556048,
 831.0: 0.0981118491823315,
 313.0: 0.09501446145217257,
 275.0: 0.09400990326941833,
 891.0: 0.09233563963149458,
 109.0: 0.09174964735822126,
 585.0: 0.09082880235736321,
 218.0: 0.08898711235564707,
 141.0: 0.0889033991737509,
 144.0: 0.08731284871772334,
 358.0: 0.08547115871600722,
 552.0: 0.08538744553411103,
 163.0: 0.08396432144187584,
 293.0: 0.08270862371343304,
 171.0: 0.08270862371343304,
 726.0: 0.08153663916688642,
 120.0: 0.08128549962119785,
 74.0: 0.08044836780223598,
 501.0: 0.07986237552896266,
 394.0: 0.07869039098241605,
 290.0: 0.0782718250729351,
 262.0: 0.07760211961776561,
 409.0: 0.07341646052295625,
 404.0: 0.07132363097555157,
 323.0: 0.07057021233848587,
 276.0: 0.0704027859746935,
 257.0: 0.06956565415573164,
 351.0: 0.06889594870056213,
 127.0: 0.06839366960918501,
 301.0: 0.0678076773359117,
 623.0: 0.06738911142643077,
 365.0: 0.06730539824453458,
 706.0: 0.06663569278936508,
 138.0: 0.06621712687988414,
 251.0: 0.06596598733419558,
 287.0: 0.06437543687816802,
 425.0: 0.0638731577867909,
 110.0: 0.06345459187730997,
 373.0: 0.06328716551351758,
 161.0: 0.06311973914972521,
 431.0: 0.060859483238528155,
 48.0: 0.060859483238528155,
 130.0: 0.05977121187387772,
 665.0: 0.059101506418708226,
 377.0: 0.05893408005491585,
 119.0: 0.0585992273273311,
 721.0: 0.0585992273273311,
 184.0: 0.05642268459803023,
 752.0: 0.054664707778210295,
 303.0: 0.05449728141441792,
 615.0: 0.05432985505062555,
 162.0: 0.05349272323166368,
 288.0: 0.05299044414028655,
 225.0: 0.052404451867013244,
 101.0: 0.05165103322994755,
 710.0: 0.05039533550150474,
 226.0: 0.04980934322823143,
 117.0: 0.04955820368254287,
 300.0: 0.048972211409269564,
 315.0: 0.048888498227373366,
 69.0: 0.04721423458944962,
 581.0: 0.04696309504376107,
 151.0: 0.04537254458773351,
 760.0: 0.04495397867825257,
 327.0: 0.04403313367739451,
 140.0: 0.043196001858432635,
 882.0: 0.043196001858432635,
 447.0: 0.04311228867653645,
 644.0: 0.043028575494640266,
 445.0: 0.04294486231274408,
 687.0: 0.04261000958515933,
 474.0: 0.04219144367567839,
 714.0: 0.04185659094809364,
 260.0: 0.04152173822050889,
 28.0: 0.04143802503861271,
 406.0: 0.03968004821879277,
 61.0: 0.03942890867310421,
 176.0: 0.03917776912741565,
 314.0: 0.03917776912741565,
 137.0: 0.039094055945519464,
 64.0: 0.037252365943803344,
 507.0: 0.03708493958001097,
 222.0: 0.03641523412484147,
 299.0: 0.036080381397256715,
 121.0: 0.03599666821536053,
 912.0: 0.03532696276019104,
 632.0: 0.0349083968507101,
 285.0: 0.03482468366881391,
 221.0: 0.03465725730502154,
 849.0: 0.03465725730502154,
 156.0: 0.03415497821364441,
 857.0: 0.03415497821364441,
 245.0: 0.03398755184985204,
 998.0: 0.03373641230416348,
 421.0: 0.0335689859403711,
 259.0: 0.0335689859403711,
 871.0: 0.03348527275847491,
 328.0: 0.03306670684899398,
 197.0: 0.03306670684899398,
 66.0: 0.03264814093951304,
 85.0: 0.03181100912055117,
 252.0: 0.03172729593865498,
 91.0: 0.031559869574862606,
 451.0: 0.031225016847277857,
 415.0: 0.030304171846419797,
 345.0: 0.030220458664523612,
 178.0: 0.02988560593693886,
 105.0: 0.029132187299873172,
 15.0: 0.029048474117976987,
 972.0: 0.028797334572288426,
 168.0: 0.028629908208496053,
 448.0: 0.028211342299015115,
 14.0: 0.028127629117118927,
 863.0: 0.027457923661949428,
 827.0: 0.026955644570572306,
 68.0: 0.02645336547919518,
 713.0: 0.026202225933506622,
 198.0: 0.026034799569714242,
 830.0: 0.02578366002402568,
 129.0: 0.025699946842129496,
 536.0: 0.025532520478337123,
 476.0: 0.02528138093264856,
 496.0: 0.024779101841271436,
 1191.0: 0.024109396386101937,
 393.0: 0.02360711729472481,
 321.0: 0.023188551385243877,
 763.0: 0.022937411839555315,
 633.0: 0.022769985475762942,
 332.0: 0.022016566838697255,
 256.0: 0.022016566838697255,
 778.0: 0.021932853656801067,
 57.0: 0.021765427293008694,
 94.0: 0.021681714111112506,
 392.0: 0.021514287747320133,
 191.0: 0.021430574565423945,
 835.0: 0.021263148201631568,
 826.0: 0.021179435019735383,
 236.0: 0.021179435019735383,
 1050.0: 0.020760869110254446,
 446.0: 0.019672597745604013,
 369.0: 0.01942145819991545,
 148.0: 0.018919179108538325,
 253.0: 0.018751752744745952,
 675.0: 0.018668039562849764,
 396.0: 0.018668039562849764,
 268.0: 0.018500613199057388,
 707.0: 0.018500613199057388,
 25.0: 0.018333186835265015,
 273.0: 0.018165760471472638,
 165.0: 0.01732862865251077,
 298.0: 0.017161202288718393,
 545.0: 0.017077489106822205,
 297.0: 0.016742636379237456,
 164.0: 0.01665892319734127,
 376.0: 0.016407783651652706,
 1002.0: 0.01607293092406796,
 375.0: 0.015570651832690834,
 482.0: 0.015486938650794646,
 573.0: 0.015486938650794646,
 515.0: 0.01540322546889846,
 372.0: 0.015319512287002273,
 560.0: 0.015152085923209898,
 936.0: 0.014649806831832776,
 270.0: 0.014566093649936586,
 240.0: 0.0144823804680404,
 820.0: 0.014231240922351836,
 762.0: 0.01414752774045565,
 102.0: 0.01414752774045565,
 326.0: 0.014063814558559463,
 87.0: 0.0138126750128709,
 309.0: 0.0138126750128709,
 283.0: 0.013645248649078527,
 305.0: 0.013477822285286153,
 355.0: 0.01297554319390903,
 931.0: 0.012808116830116654,
 651.0: 0.012222124556843341,
 614.0: 0.012054698193050968,
 708.0: 0.012054698193050968,
 304.0: 0.011719845465466219,
 1045.0: 0.011719845465466219,
 174.0: 0.011636132283570032,
 249.0: 0.011552419101673846,
 718.0: 0.011301279555985283,
 699.0: 0.011133853192192908,
 418.0: 0.011133853192192908,
 627.0: 0.010380434555127223,
 669.0: 0.010296721373231035,
 292.0: 0.009961868645646287,
 617.0: 0.009710729099957726,
 1155.0: 0.009375876372372976,
 739.0: 0.009124736826684413,
 239.0: 0.008957310462892039,
 243.0: 0.008706170917203477,
 360.0: 0.008455031371514914,
 725.0: 0.00828760500772254,
 1001.0: 0.008203891825826353,
 709.0: 0.00803646546203398,
 128.0: 0.007952752280137792,
 395.0: 0.007869039098241605,
 494.0: 0.007785325916345417,
 563.0: 0.007785325916345417,
 756.0: 0.007617899552553042,
 465.0: 0.007366760006864481,
 374.0: 0.007366760006864481,
 1057.0: 0.0069481940973835435,
 139.0: 0.0069481940973835435,
 200.0: 0.00678076773359117,
 258.0: 0.006613341369798795,
 310.0: 0.00644591500600642,
 978.0: 0.00644591500600642,
 113.0: 0.00644591500600642,
 853.0: 0.006111062278421671,
 1266.0: 0.006027349096525484,
 1172.0: 0.006027349096525484,
 322.0: 0.005776209550836923,
 1051.0: 0.005776209550836923,
 1265.0: 0.005776209550836923,
 599.0: 0.005525070005148361,
 548.0: 0.0054413568232521735,
 230.0: 0.005357643641355986,
 1015.0: 0.005190217277563611,
 512.0: 0.005106504095667424,
 335.0: 0.005106504095667424,
 56.0: 0.005106504095667424,
 281.0: 0.004939077731875049,
 564.0: 0.0047716513680826755,
 1181.0: 0.004604225004290301,
 1276.0: 0.004520511822394113,
 508.0: 0.004436798640497926,
 1251.0: 0.004436798640497926,
 1238.0: 0.004269372276705551,
 557.0: 0.004269372276705551,
 195.0: 0.0041019459129131765,
 715.0: 0.0041019459129131765,
 333.0: 0.0041019459129131765,
 744.0: 0.003934519549120803,
 757.0: 0.003934519549120803,
 43.0: 0.003934519549120803,
 1334.0: 0.003850806367224615,
 568.0: 0.003850806367224615,
 759.0: 0.003767093185328428,
 1048.0: 0.003515953639639866,
 116.0: 0.0034322404577436785,
 242.0: 0.0034322404577436785,
 1231.0: 0.003348527275847491,
 994.0: 0.003264814093951304,
 1441.0: 0.0030973877301589295,
 81.0: 0.003013674548262742,
 712.0: 0.0029299613663665547,
 673.0: 0.0029299613663665547,
 859.0: 0.0029299613663665547,
 413.0: 0.0027625350025741804,
 411.0: 0.0027625350025741804,
 277.0: 0.0025951086387818057,
 227.0: 0.0025113954568856183,
 1166.0: 0.002343969093093244,
 1407.0: 0.0022602559111970567,
 330.0: 0.002009116365508495,
 1424.0: 0.002009116365508495,
 535.0: 0.0019254031836123074,
 681.0: 0.0018416900017161203,
 703.0: 0.0018416900017161203,
 1056.0: 0.0018416900017161203,
 203.0: 0.0016742636379237456,
 1175.0: 0.0016742636379237456,
 1283.0: 0.0015905504560275584,
 572.0: 0.001506837274131371,
 1011.0: 0.001423124092235184,
 417.0: 0.001423124092235184,
 408.0: 0.0013394109103389965,
 235.0: 0.001171984546546622,
 851.0: 0.0010045581827542475,
 1387.0: 0.0010045581827542475,
 378.0: 0.0010045581827542475,
 362.0: 0.0009208450008580601,
 838.0: 0.0007534186370656855,
 1374.0: 0.0007534186370656855,
 569.0: 0.0007534186370656855,
 1380.0: 0.0006697054551694983,
 510.0: 0.0006697054551694983,
 505.0: 0.000585992273273311,
 976.0: 0.000585992273273311,
 255.0: 0.0005022790913771238,
 27.0: 0.0005022790913771238,
 735.0: 0.0005022790913771238,
 596.0: 0.0005022790913771238,
 570.0: 0.0005022790913771238,
 547.0: 0.0004185659094809364,
 1466.0: 0.0004185659094809364,
 1445.0: 0.0004185659094809364,
 575.0: 0.0004185659094809364,
 274.0: 0.0004185659094809364,
 1347.0: 0.00033485272758474913,
 1695.0: 0.00033485272758474913,
 1307.0: 0.00033485272758474913,
 1467.0: 0.0002511395456885619,
 582.0: 0.0002511395456885619,
 1273.0: 0.00016742636379237457,
 873.0: 0.00016742636379237457,
 765.0: 0.00016742636379237457,
 1408.0: 0.00016742636379237457,
 874.0: 0.00016742636379237457,
 170.0: 0.00016742636379237457,
 539.0: 0.00016742636379237457,
 724.0: 0.00016742636379237457,
 506.0: 0.00016742636379237457,
 1503.0: 8.371318189618728e-05,
 1659.0: 8.371318189618728e-05,
 864.0: 8.371318189618728e-05,
 1727.0: 8.371318189618728e-05,
 1596.0: 8.371318189618728e-05,
 231.0: 8.371318189618728e-05,
 833.0: 8.371318189618728e-05,
 1635.0: 8.371318189618728e-05,
 1674.0: 8.371318189618728e-05,
 509.0: 8.371318189618728e-05,
 3.0: 0,
 0.0: 0}

In [36]:
df_visits_train['site-id'] = df_visits_train['site-id'].fillna(0)
df_visits_train

,user_id,target,length,site-id,first-seen,last-seen,visited-at,session-duration,pages-count,visited-items,visited-general-categories,visited-universal-brands
0,user_1,female,3,0.0,NaN,NaN,NaN,NaN,NaN,None,None,None
1,user_2,female,11,3.0,1.696278e+09,1.696278e+09,1.696278e+09,0.0,1.0,None,None,None
2,user_2,female,11,3.0,1.696278e+09,1.696278e+09,1.696278e+09,112.0,2.0,None,None,None
3,user_5,female,35,3.0,1.693797e+09,1.698664e+09,1.693797e+09,0.0,1.0,None,None,None
4,user_5,female,35,3.0,1.693797e+09,1.698664e+09,1.694267e+09,0.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
2111233,user_127750,male,11,578.0,1.692981e+09,1.692981e+09,1.692981e+09,0.0,1.0,None,None,None
2111234,user_127750,male,11,371.0,1.691270e+09,1.691270e+09,1.691270e+09,32.0,4.0,[item_5409132],None,None
2111235,user_127751,male,11,3.0,1.697627e+09,1.697627e+09,1.697627e+09,0.0,1.0,None,None,None
2111236,user_127751,male,11,223.0,1.697627e+09,1.697627e+09,1.697627e+09,5.0,2.0,None,None,None
2111237,user_127752,male,13,3.0,1.697686e+09,1.697686e+09,1.697686e+09,0.0,1.0,None,None,None

In [38]:
df_visits_train['male_site_id'] = df_visits_train['site-id'].apply(lambda x: male_site_id_stat[x] if x in male_site_id_stat else 0.0)
df_visits_train

,user_id,target,length,site-id,first-seen,last-seen,visited-at,session-duration,pages-count,visited-items,visited-general-categories,visited-universal-brands,male_site_id
0,user_1,female,3,0.0,NaN,NaN,NaN,NaN,NaN,None,None,None,0.000000
1,user_2,female,11,3.0,1.696278e+09,1.696278e+09,1.696278e+09,0.0,1.0,None,None,None,0.000000
2,user_2,female,11,3.0,1.696278e+09,1.696278e+09,1.696278e+09,112.0,2.0,None,None,None,0.000000
3,user_5,female,35,3.0,1.693797e+09,1.698664e+09,1.693797e+09,0.0,1.0,None,None,None,0.000000
4,user_5,female,35,3.0,1.693797e+09,1.698664e+09,1.694267e+09,0.0,1.0,None,None,None,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111233,user_127750,male,11,578.0,1.692981e+09,1.692981e+09,1.692981e+09,0.0,1.0,None,None,None,1.358865
2111234,user_127750,male,11,371.0,1.691270e+09,1.691270e+09,1.691270e+09,32.0,4.0,[item_5409132],None,None,1.472542
2111235,user_127751,male,11,3.0,1.697627e+09,1.697627e+09,1.697627e+09,0.0,1.0,None,None,None,0.000000
2111236,user_127751,male,11,223.0,1.697627e+09,1.697627e+09,1.697627e+09,5.0,2.0,None,None,None,0.252460
2111237,user_127752,male,13,3.0,1.697686e+09,1.697686e+09,1.697686e+09,0.0,1.0,None,None,None,0.000000

In [39]:
df_visits_train['female_site_id'] = df_visits_train['site-id'].apply(lambda x: female_site_id_stat[x] if x in female_site_id_stat else 0.0)
df_visits_train

,user_id,target,length,site-id,first-seen,last-seen,visited-at,session-duration,pages-count,visited-items,visited-general-categories,visited-universal-brands,male_site_id,female_site_id
0,user_1,female,3,0.0,NaN,NaN,NaN,NaN,NaN,None,None,None,0.000000,0.000000
1,user_2,female,11,3.0,1.696278e+09,1.696278e+09,1.696278e+09,0.0,1.0,None,None,None,0.000000,0.000000
2,user_2,female,11,3.0,1.696278e+09,1.696278e+09,1.696278e+09,112.0,2.0,None,None,None,0.000000,0.000000
3,user_5,female,35,3.0,1.693797e+09,1.698664e+09,1.693797e+09,0.0,1.0,None,None,None,0.000000,0.000000
4,user_5,female,35,3.0,1.693797e+09,1.698664e+09,1.694267e+09,0.0,1.0,None,None,None,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111233,user_127750,male,11,578.0,1.692981e+09,1.692981e+09,1.692981e+09,0.0,1.0,None,None,None,1.358865,0.855800
2111234,user_127750,male,11,371.0,1.691270e+09,1.691270e+09,1.691270e+09,32.0,4.0,[item_5409132],None,None,1.472542,1.741820
2111235,user_127751,male,11,3.0,1.697627e+09,1.697627e+09,1.697627e+09,0.0,1.0,None,None,None,0.000000,0.000000
2111236,user_127751,male,11,223.0,1.697627e+09,1.697627e+09,1.697627e+09,5.0,2.0,None,None,None,0.252460,0.141308
2111237,user_127752,male,13,3.0,1.697686e+09,1.697686e+09,1.697686e+09,0.0,1.0,None,None,None,0.000000,0.000000

In [49]:
df_visits_val['male_site_id'] = df_visits_val['site-id'].apply(lambda x: male_site_id_stat[x] if x in male_site_id_stat else 0.0)
df_visits_val

,user_id,target,length,site-id,first-seen,last-seen,visited-at,session-duration,pages-count,visited-items,visited-general-categories,visited-universal-brands,male_site_id
0,user_127756,female,8,3.0,1.697126e+09,1.697133e+09,1.697126e+09,0.0,1.0,None,None,None,0.000000
1,user_127756,female,8,3.0,1.697126e+09,1.697133e+09,1.697133e+09,0.0,1.0,None,None,None,0.000000
2,user_127756,female,8,407.0,1.697125e+09,1.699115e+09,1.698855e+09,626.0,3.0,None,None,None,0.358051
3,user_127756,female,8,407.0,1.697125e+09,1.699115e+09,1.698931e+09,0.0,1.0,None,None,None,0.358051
4,user_127756,female,8,407.0,1.697125e+09,1.699115e+09,1.698947e+09,0.0,1.0,None,None,None,0.358051
...,...,...,...,...,...,...,...,...,...,...,...,...,...
561073,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.697236e+09,581.0,3.0,None,None,None,3.292980
561074,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.697718e+09,0.0,1.0,None,None,None,3.292980
561075,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696679e+09,0.0,1.0,None,None,None,0.000000
561076,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696680e+09,0.0,1.0,None,None,None,0.000000
561077,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696864e+09,0.0,1.0,None,None,None,0.000000

In [50]:
df_visits_val['female_site_id'] = df_visits_val['site-id'].apply(lambda x: female_site_id_stat[x] if x in female_site_id_stat else 0.0)
df_visits_val

,user_id,target,length,site-id,first-seen,last-seen,visited-at,session-duration,pages-count,visited-items,visited-general-categories,visited-universal-brands,male_site_id,female_site_id
0,user_127756,female,8,3.0,1.697126e+09,1.697133e+09,1.697126e+09,0.0,1.0,None,None,None,0.000000,0.000000
1,user_127756,female,8,3.0,1.697126e+09,1.697133e+09,1.697133e+09,0.0,1.0,None,None,None,0.000000,0.000000
2,user_127756,female,8,407.0,1.697125e+09,1.699115e+09,1.698855e+09,626.0,3.0,None,None,None,0.358051,0.828761
3,user_127756,female,8,407.0,1.697125e+09,1.699115e+09,1.698931e+09,0.0,1.0,None,None,None,0.358051,0.828761
4,user_127756,female,8,407.0,1.697125e+09,1.699115e+09,1.698947e+09,0.0,1.0,None,None,None,0.358051,0.828761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561073,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.697236e+09,581.0,3.0,None,None,None,3.292980,3.638928
561074,user_155201,male,27,13.0,1.691565e+09,1.697718e+09,1.697718e+09,0.0,1.0,None,None,None,3.292980,3.638928
561075,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696679e+09,0.0,1.0,None,None,None,0.000000,0.000000
561076,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696680e+09,0.0,1.0,None,None,None,0.000000,0.000000
561077,user_155202,female,45,3.0,1.696679e+09,1.696864e+09,1.696864e+09,0.0,1.0,None,None,None,0.000000,0.000000

In [44]:
# Функции для извлечения фичей из предобработанных файлов

def get_features_from_orders(x):
    features = {}
    features['length_mean'] = x['length'].mean()
    features['order_site-id_count'] = x['site-id'].count()
    features['order_site-id_unique'] = x['site-id'].nunique()
    #features['site-id_mode'] = x['site-id'].mode().tolist()#.to_string(index=False)
    features['id_count'] = x['id'].count()
    features['id_count_unique'] = x['id'].nunique()
    #features['id_mode'] = x['id'].mode().tolist()#.to_string(index=False)
    features['count_sum'] = x['count'].sum()
    #features['brand-id_mode'] = x['brand-id'].mode().tolist()#.to_string(index=False) 
    #features['brand-id_unique'] = x['brand-id'].nunique()
    return pd.Series(features, index=list(features.keys()))

def get_features_from_visits(x):
    features = {}
    features['session-duration_mean'] = x['session-duration'].mean()
    features['pages-count_mean'] = x['pages-count'].mean()
    features['visit_site-id_count'] = x['site-id'].count()
    features['visit_site-id_unique'] = x['site-id'].nunique()
    features['visit_site-id_mean_male'] = x['male_site_id'].mean()
    features['visit_site-id_mean_female'] = x['female_site_id'].mean()
    return pd.Series(features, index=list(features.keys()))

def extract_features(orders_df, visits_df):
    res_df = orders_df.groupby(['user_id', 'target']).apply(get_features_from_orders)
    res_df = res_df.reset_index()
    res_df = res_df.sort_values(by=['user_id'], key=lambda s: s.str[5:].astype(int))
    res_df = res_df.reset_index().drop(['index'], axis=1)
    res_df = res_df.replace('Series([], )', np.nan)
    
    visits_features = visits_df.groupby(['user_id']).apply(get_features_from_visits)
    visits_features = visits_features.reset_index()
    res_df = res_df.merge(visits_features, left_on='user_id', right_on='user_id')
    res_df = res_df.fillna(0)
    
    return res_df

In [45]:
train_df = extract_features(df_orders_train, df_visits_train)
train_df

,user_id,target,length_mean,order_site-id_count,order_site-id_unique,id_count,id_count_unique,count_sum,session-duration_mean,pages-count_mean,visit_site-id_count,visit_site-id_unique,visit_site-id_mean_male,visit_site-id_mean_female
0,user_1,female,3.0,3.0,2.0,0.0,0.0,0.0,0.000000,0.000000,1.0,1.0,0.000000,0.000000
1,user_2,female,11.0,0.0,0.0,0.0,0.0,0.0,56.000000,1.500000,2.0,1.0,0.000000,0.000000
2,user_3,male,16.0,2.0,2.0,1.0,1.0,1.0,195.928571,4.571429,14.0,3.0,5.239629,3.303693
3,user_4,male,27.0,9.0,4.0,4.0,4.0,4.0,267.764706,3.176471,17.0,6.0,3.041649,1.933425
4,user_5,female,35.0,6.0,3.0,5.0,5.0,5.0,279.391304,5.391304,23.0,5.0,6.098808,4.532126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119546,user_127751,male,11.0,5.0,2.0,3.0,3.0,3.0,2.500000,1.500000,2.0,2.0,0.126230,0.070654
119547,user_127752,male,13.0,3.0,2.0,1.0,1.0,1.0,0.000000,1.000000,1.0,1.0,0.000000,0.000000
119548,user_127753,female,24.0,17.0,1.0,17.0,12.0,20.0,106.600000,2.428571,35.0,8.0,3.345009,2.570047
119549,user_127754,female,8.0,1.0,1.0,1.0,1.0,0.0,101.000000,2.250000,4.0,2.0,0.268538,0.621570
119550,user_127755,female,69.0,112.0,21.0,103.0,99.0,112.0,0.000000,0.000000,1.0,1.0,0.000000,0.000000

In [46]:
train_df.to_parquet('data\\train_df.parquet')

In [51]:
val_df = extract_features(df_orders_val, df_visits_val)
val_df

,user_id,target,length_mean,order_site-id_count,order_site-id_unique,id_count,id_count_unique,count_sum,session-duration_mean,pages-count_mean,visit_site-id_count,visit_site-id_unique,visit_site-id_mean_male,visit_site-id_mean_female
0,user_127756,female,8.0,1.0,1.0,1.0,1.0,0.0,95.833333,1.583333,12.0,2.0,0.298376,0.690634
1,user_127757,male,16.0,16.0,4.0,14.0,14.0,16.0,621.000000,4.000000,3.0,3.0,2.078258,1.449996
2,user_127758,female,50.0,38.0,5.0,38.0,35.0,67.0,179.884615,4.365385,52.0,15.0,0.802134,0.860341
3,user_127759,female,34.0,52.0,3.0,52.0,46.0,52.0,105.314286,2.657143,35.0,9.0,0.368308,0.971747
4,user_127760,female,12.0,0.0,0.0,0.0,0.0,0.0,296.000000,18.333333,3.0,2.0,0.378047,0.902735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27442,user_155198,female,22.0,9.0,6.0,7.0,6.0,9.0,0.000000,1.000000,2.0,1.0,0.000000,0.000000
27443,user_155199,male,7.0,3.0,1.0,0.0,0.0,0.0,15.333333,1.333333,3.0,2.0,0.491161,0.373947
27444,user_155200,female,23.0,2.0,1.0,2.0,2.0,2.0,89.307692,1.846154,13.0,5.0,0.545640,0.870649
27445,user_155201,male,27.0,3.0,2.0,0.0,0.0,0.0,99.818182,2.272727,22.0,11.0,1.273613,1.450829
27446,user_155202,female,45.0,45.0,11.0,43.0,40.0,47.0,0.000000,1.000000,3.0,1.0,0.000000,0.000000

In [52]:
val_df.to_parquet('data\\val_df.parquet')

In [81]:
val_orders_grouped = val_orders_flat.groupby(['user_id', 'target']).apply(get_features_from_orders)
val_orders_grouped = val_orders_grouped.reset_index()
val_orders_grouped = val_orders_grouped.replace('Series([], )', np.nan)
val_orders_grouped

,user_id,target,site-id_count,site-id_unique,site-id_mode,id_count,id_count_unique,id_mode,count_sum,brand-id_mode,brand-id_unique
0,user_127756,female,1,1,[407.0],1,1,[item_676374],0.0,[],0
1,user_127757,male,16,4,[16.0],14,14,"[item_1399130, item_1627033, item_1898950, ite...",16.0,"[1055.0, 1237.0]",6
2,user_127758,female,38,5,[21.0],38,35,"[item_2072631, item_3362928, item_611359]",67.0,[15820.0],21
3,user_127759,female,52,3,[93.0],52,46,"[item_47281, item_47282]",52.0,[3192.0],3
4,user_127760,female,0,0,[],0,0,[],0.0,[],0
...,...,...,...,...,...,...,...,...,...,...,...
27442,user_155198,female,9,6,"[7.0, 8.0, 49.0]",7,6,[item_51490],9.0,[1889758.0],3
27443,user_155199,male,3,1,[21.0],0,0,[],0.0,[],0
27444,user_155200,female,2,1,[34.0],2,2,"[item_1648, item_6173373]",2.0,[708.0],1
27445,user_155201,male,3,2,[218.0],0,0,[],0.0,[],0
27446,user_155202,female,45,11,"[53.0, 135.0]",43,40,"[item_47166, item_650342, item_650349]",47.0,[2441.0],12